
.isotope,
.isotope .isotope-item {

  -webkit-transition-duration: 0.3s;
     -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}



.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}


.heroes td, th {
  padding: 8px;
}

.heroes th {
  padding-bottom: 25px;
}
.heroes thead {
  padding: 8px;
}

.heroes tr {
  padding-bottom: 8px;
}

.heroHeader {
  font-weight: bold;
  display: inline-block;
}

.heroRow:hover {
  background-color: #EEE;
}

.heroes {

}

.changelog {
  padding: 8px;
  min-width: 300px;
  height: 500px;
  overflow-y: scroll;
}

.about {
  padding: 8px;
  min-width: 500px;
}

.startHidden {
  display: none;
}

.ChromeOnly {
  display: none;
}
